*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Lisa log
lisa.log

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
src/m3DSeedEditor.fig
src/m3DSeedEditor.m
src/markSeeds.m
src/README.md
src/step.mat
extern/output.mat
src/morpho.png
src/lena.png
src/IM-0001-0019.dcm
src/IM-0001-0200.dcm
src/IM-0001-0220.dcm
src/IM-0001-0240.dcm
src/output.mat
src/uiThreshold.py.orig
sample_data
tmp
*~
*.swp

experiments/20130812_liver_volumetry.yaml

# Data
*.pkl
*.pklz
*.pickle
*.vtk

*.yaml
lisa/seed_editor_qt.py
lisa/extern/seed_editor_qt.py
