autocrop: true
autocrop_margin_mm: [10, 10, 10]
data3d: null
datapath: null
edit_data: false
manualroi: true
metadata: null
output_label: 1
qt_app: null
roi: null
seeds: null
segmentation_smoothing: false
segmodelparams:
  params: {covariance_type: full, n_components: 3}
  type: gmmsame
segparams: {"pairwise_alpha_per_mm2":45, return_only_object_with_seeds: true}
series_number: null
slab: {}
smoothing_mm: 4
texture_analysis: null
working_voxelsize_mm: 2.0
viewermax: 225
viewermin: -125
