autocrop: true
autocrop_margin_mm: [10, 10, 10]
data3d: null
datapath: null
edit_data: false
manualroi: true
metadata: null
output_label: 1
qt_app: null
roi: null
seeds: null
segmentation_smoothing: false
segparams: {"pairwise_alpha_per_mm2":40} 
series_number: null
slab: {}
smoothing_mm: 4
texture_analysis: null
working_voxelsize_mm: 2
viewermax: 225
viewermin: -125
