pydicom>=0.9.9
pysegbase>=1.0.33
dicom2fem>=1.0.0
sed3>=1.1.4
io3d>=1.0.18
ipdb>=0.8.1
nearpy>=0.2
joblib>=0.8.4
git+https://github.com/mjirik/morphsnakes.git
git+https://github.com/mjirik/pyqtconfig.git
multipolyfit>=0.0.1
pandas>=0.16.2
pygco==0.0.5
lesioneditor==0.0.5

