# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy=1.9.1=py27_0
pip=6.0.8=py27_0
python=2.7.9=1
scipy=0.15.1=np19py27_0
setuptools=12.2=py27_0
pip
numpy
scipy
matplotlib
scikit-learn
scikit-image
cython
pyqt
pyyaml
setuptools
pip
vtk
pandas
