# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy=1.9.1=py27_0
pip=6.0.8=py27_0
python=2.7.9=1
scipy=0.15.1=np19py27_0
setuptools=12.2=py27_0
matplotlib=1.4.3=np19py27_0
scikit-image=0.11.0=np19py27_0
scikit-learn=0.15.2=np19py27_0
cython=0.22=py27_0
pyqt=4.10.4=py27_0
yaml=0.1.4=0
pyyaml
vtk=5.10.1=py27_1
pandas=0.15.2=np19py27_0
ipython

